@charset "UTF-8";

@font-face {
    font-family: Pacifico;
    src: url(../fonts/Pacifico/Pacifico-Regular.ttf);
}

.imagen-carrossel:nth-child(1){
    object-fit: cover;
    object-position: 0 80%;
    height: 400px;
}

.imagen-carrossel:nth-child(2){
    object-fit: cover;
    object-position: 0 0;
    height: 400px;
}

.fonte-titulo{
    font-family: Pacifico;
}

.cor-especial{
    color: #8B0000 !important;
}

.botao-cor-especial{
    background: #8B0000;
    color: #FFF;
    border: 1px solid #8B0000;
    transition: background .3s color .3s;
}

.botao-cor-especial:hover{
    background: #FFF;
    color: #8B0000;
}

.borda-cor-especial{
    max-width: 18rem;
    border: 1px solid #8B0000;
}

.card-imagen-largura{
    object-fit: cover;
    height: 200px;
}